<!DOCTYPE html>

<HTML ng-app="todo">
	<head>
		
		<title>ToDo com Angular</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<style>

			.form-group {
			    text-align: center;
			    padding-bottom: 25px;
			
			}
			#todo {
			    margin: 0 auto;
			    width: 800px;
			}

			a.close {
			  float: right;
			}
			
			.done-true {
				text-decoration: line-through;
				color: grey;
			}
			
		</style>
	</head>
	
	<body ng-controller="TodoController as toDo">
		<div class="container">
		    <div class="form-group">
				<h1>To-Do <small>List</small></h1>
				
				<form role="form" class="form-inline" ng-controller="TodoFormController as fromCtrl" ng-submit="addTodo()">
					<input type="text" class="form-control" placeholder="Sua tarefa" name="task" ng-model="descricao">
					<input type="text" class="form-control" placeholder="Prioridade" name="task" ng-model="prioridade">
					<input type="submit" value="Adicionar" class="btn btn-primary">
				</form>  
				
			</div>
			<table class="table">
				<tr>
					<th style="text-align:center;">Prioridade</th>
					<th>Descricao</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="item in toDo.itens | orderBy:'prioridade'">
					<td style="text-align:center;" >{{item.prioridade}}</td>
					<td class="done-{{item.feito}}">{{item.descricao}}</td>
					<td>
						<button type="button" class="btn btn-default btn-sm" ng-click="menorPrioridade(item)">
						  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default btn-sm" ng-click="maiorPrioridade(item)">
						  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</button>
					</td>
					<td><input type="checkbox" ng-model="item.feito"></td>
				</tr>
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
	
</HTML>


